/* style-sheet for mobile devices*/
@import "mobile.css" (max-width: 600px);

/* style-sheet for tablet devices*/
@import "tablet.css" (min-width: 601px) and (max-width: 1280px);

/* style-sheet for bigger devices than 1080px*/
@import "desktop.css" (max-width: 1920px);

/* global settings */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  background: antiquewhite;
}

body {
  width: 100%;
}

li {
  list-style: none;
}

header > nav{
  min-width: 100%;
  background: rgba(226, 226, 226, .8);
}

a {
  text-decoration: none;
  color: black;
}

h1,h2,h3,h4,p,figcaption {
  text-align: center;
  margin: 1rem;
}

hr {
  margin: 1.5rem;
}

.sm-footer > img{
  width: 3vh;
}

figure {
  width: 100%;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  min-height: 10vh;
  align-items: center;
  
  padding: 0 25px;
  transition: 0.3s;
}

.logo a{
  display: block;
}

.logo a h1 {
  display: block;
  width: 100%;
  font-size: 35px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  z-index: 1;
  transition: 0.5s;
}

.menu li a {
  display: block;
  padding: 20px 10px;
  font-size: 18px;
  line-height: 1;
  transition: 0.3s;
}

.menu li a:hover {
  box-shadow: 0 -5px 0 black inset,
  500px 0 0 rgba(230, 227, 227, 0.03) inset;
  padding: 30px 25px 30px 25px;
  color: coral;
}

.sm-footer img{
  width: 3vh;
}

/* content section home site */
.content-container {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  grid-template-rows: auto;
  grid-template-areas: 
  " l-bar featured-articles r-bar";
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bar{
  grid-area: l-bar;
}

.r-bar {
  grid-area: r-bar;
}

.content-container h2 {
  display: block;
  margin: 2rem;
  font-size: 20px;
  text-decoration: underline;
}

/* styles for the grid categories */
.featured-articles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  " a b "
  " c d ";
  gap: 1em;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.a {
  grid-area: a;
}

figure a:hover {
  color: coral;
}

.b {
  grid-area: b;
}
.c {
  grid-area: c;
}
.d {
  grid-area: d;
}

.box {
  border-radius: 5px;
}

.box img {
  width: 70%;
  border: 1px solid black;
  border-radius: 50%;
  margin-top: 1rem;
}

.box:hover {
  transform: scale(1.2) perspective(1px);
  font-weight: bold;
  color: coral;
}

/* blog site settings */
.blog-main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  " ha ha"
  " article"
  " article"
  " ra"
  "bim "
  "subi";
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
  margin: 1rem;
}

.header-article {
  grid-area: ha;
}

.article {
  grid-area: article;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "aimg"
  "ra ";
  justify-content: center;
  align-items: center;
  text-align: center;
}

.blog-img {
  grid-template-areas: aimg;
}

.article > .blog-img img{
  width: 60%;
  border-radius: 10%;
  opacity: 85%;
}

.random-post {
  grid-area: ra;
}

blockquote{
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
}

.bauthor {
  border: 2px inset black;
  border-radius: 10px;
  display: grid;
  grid-template-columns:  1fr  1fr ;
  grid-template-rows: auto;
  grid-template-areas: 
  "bh3 bh3"
  "bim p1";
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1rem;
}

.bauthor-img {
  grid-area: bim;
  margin: 1rem;
  display: inline-grid;
  justify-content: center;
  align-items: center;
}

.bh3 {
  grid-area: bh3;
}

.bauthor p {
  grid-area: p1;
}

.bauthor-img img {
  width: 15vh;
  display: block;
  border-radius: 50%;
  border: 1px solid black;
}

.submit {
  grid-area: subi;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "b-sub p-su";
  gap: 1rem;
  margin-bottom: 1em;
  justify-content: center;
  align-items: center;
}

.b-submit {
  grid-area: b-sub;
  display: block;
  text-align: center;
}

.name {
  width: 30vw;
  height: 3vh;
  border-radius: 10px;
  border-style: none;
  margin: 2px;
  text-align: center;
}

.email {
  border-radius: 10px;
  width: 30vw;
  height: 3vh;
  border-style: none;
  margin: 2px ;
  text-align: center;
}

.button {
  width: 30vw;
  height: 3vh;
  border-radius: 10px;
  border-style: none;
  text-align: center;
}

.button:hover {
  background: crimson;
  color: antiquewhite;
}

.p-submit {
  grid-area: p-su;
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-left: 2px solid gray;
}

/* global footer */  
.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "p sm-footer";
    color: antiquewhite;
    background: black;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    padding: 10px;
}

